@using SimpleLoginRegistration.Models;
@model RegistrationModel;

<div class="card border-primary">
  <h3 class="card-header">REGISTER</h3>
  <div class="card-body text-secondary">
    <form action="registration" method="POST" novalidate>
      <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="First Name">
        <span asp-validation-for="FirstName" style="font-size:small;"></span>
      </div>
      <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="Last Name">
        <span asp-validation-for="LastName" style="font-size:small;"></span>
      </div>
      <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Email Address">
        <span asp-validation-for="Email" style="font-size:small;"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Password">
        <span asp-validation-for="Password" style="font-size:small;"></span>
      </div>
      <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Password:</label>
        <input asp-for="ConfirmPassword" class="form-control">
        <span asp-validation-for="ConfirmPassword" style="font-size:small;"></span>
      </div>
      <footer>
        <button type="submit" class="btn btn-primary btn-block mt-1">REGISTER</button>
      </footer>
    </form>
  </div>
</div>