@{
    ViewData["Title"] = "Simple Login/Registration";
}
    <div class="card border-primary">
      <h2 class="card-header">SUCCESS</h2>
      <div class="card-body card-text">
        <h4 class="card-text">Success! Welcome!</h4>
      </div>
    </div>